<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <title>
    Footcure Dashboard
  </title>
  <!-- Favicon -->
  <link href="/img/brand/favicon.png" rel="icon" type="image/png">
  <!-- Fonts -->
  <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700" rel="stylesheet">
  <!-- Icons -->
  <link href="/js/plugins/nucleo/css/nucleo.css" rel="stylesheet" />
  <link href="/js/plugins/@fortawesome/fontawesome-free/css/all.min.css" rel="stylesheet" />
  <!-- CSS Files -->
  <link href="/css/argon-dashboard.css?v=1.1.2" rel="stylesheet" />
  <link href="/css/popup.css" rel="stylesheet" />
</head>

<body class="">
  <nav class="navbar navbar-vertical fixed-left navbar-expand-md navbar-light bg-white" id="sidenav-main">
    <div class="container-fluid">
      <!-- Toggler -->
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#sidenav-collapse-main" aria-controls="sidenav-main" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <!-- Brand -->
      <a class="navbar-brand pt-0" href="" style="margin-top: 32px;">
        <img src="/img/brand/logo_blue.png" class="navbar-brand-img" alt="..." style="max-height:100%;">
      </a>
      
      <!-- Collapse -->
      <div class="collapse navbar-collapse" id="sidenav-collapse-main">
        <!-- Collapse header -->
        <div class="navbar-collapse-header d-md-none">
          <div class="row">
            <div class="col-6 collapse-brand">             
            </div>
            <div class="col-6 collapse-close">
              <button type="button" class="navbar-toggler" data-toggle="collapse" data-target="#sidenav-collapse-main" aria-controls="sidenav-main" aria-expanded="false" aria-label="Toggle sidenav">
                <span></span>
                <span></span>
              </button>
            </div>
          </div>
        </div>
        <!-- Navigation -->
        <ul class="navbar-nav">
          <li class="nav-item  active ">
            <a class="nav-link  active " href="/manager/dashboard/index">
              <i class="ni ni-tv-2 text-primary"></i> <span>Dashboard</span>
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link " href="/manager/dashboard/my/pattern">
              <i class="ni ni-bullet-list-67 text-red"></i> <span>My Pattern</span>
            </a>
          </li>     
          <li class="nav-item">
            <a id="auth_link" class="nav-link" href="/manager/auth/login">
              <i class="ni ni-key-25 text-info"></i> <span id ="auth_state">Login</span>
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/manager/auth/signup">
              <i class="ni ni-circle-08 text-pink"></i> <span>Register</span>
            </a>
          </li>
        </ul>        
      </div>
    </div>
  </nav>
  <div class="main-content">   
    <!-- Header -->
    <div class="header bg-gradient-primary pb-8 pt-5 pt-md-8" style="padding-top: 7rem !important">     
      <div class="container-fluid">
        <div class="header-body">
         <!-- Mask -->
         <span class="mask opacity-8"></span>
         <!-- Header container -->
         <div class="container-fluid d-flex align-items-center" style="margin-bottom: 4rem;">
          <div class="row">
            <div class="col-lg-12">
              <h1 id="client_title1" class="display-2 text-white">Hello!</h1>     
              <h5 id="client_title2" class="text-light">Hello Jesse</h5>         
            </div>
          </div>
        </div>
        <!-- Card stats -->
        <div class="row">

          <div class="col-xl-2 col-lg-6">
            <div class="card card-stats mb-4 mb-xl-0">
              <div class="card-body">
                <div class="row">
                  <div class="col">
                    <h5 class="card-title text-uppercase text-muted mb-0">Total Pattern</h5>
                    <span id="span_total_cnt" class="h2 font-weight-bold mb-0" style="font-size: 1.5rem;">0</span>
                  </div>
                  <div class="col-auto">
                    <div class="icon icon-shape bg-danger text-white rounded-circle shadow">
                      <i class="fas fa-shoe-prints"></i>
                    </div>
                  </div>
                </div>
                <p class="mt-1 mb-0 text-muted text-sm">
                  <span id="span_week_total" class="mr-2"><i class="fa fa-minus"></i>0</span>
                  <span class="text-nowrap">Since last week</span>
                </p>
              </div>
            </div>
          </div>

          <div class="col-xl-2 col-lg-6">
            <div class="card card-stats mb-4 mb-xl-0">
              <div class="card-body">
                <div class="row">
                  <div class="col">
                    <h5 class="card-title text-uppercase text-muted mb-0">Master Item</h5>
                    <span id="span_master_cnt" class="h2 font-weight-bold mb-0" style="font-size: 1.5rem;">0</span>
                  </div>
                  <div class="col-auto">
                    <div class="icon icon-shape bg-warning text-white rounded-circle shadow">
                      <i class="fas fa-user-cog"></i>
                    </div>
                  </div>
                </div>
                <p class="mt-1 mb-0 text-muted text-sm">
                  <span id="span_week_master" class="mr-2"><i class="fas fa-minus"></i>  0</span>
                  <span class="text-nowrap">Since last week</span>
                </p>
              </div>
            </div>
          </div>

          <div class="col-xl-2 col-lg-6">
            <div class="card card-stats mb-4 mb-xl-0">
              <div class="card-body">
                <div class="row">
                  <div class="col">
                    <h5 class="card-title text-uppercase text-muted mb-0">Users Item</h5>
                    <span id="span_users_cnt" class="h2 font-weight-bold mb-0" style="font-size: 1.5rem;">0</span>
                  </div>
                  <div class="col-auto">
                    <div class="icon icon-shape bg-info text-white rounded-circle shadow">
                      <i class="fas fa-users-cog"></i>
                    </div>
                  </div>
                </div>
                <p class="mt-1 mb-0 text-muted text-sm">
                  <span id="span_week_user" class="mr-2"><i class="fas fa-minus"></i>  0</span>
                  <span class="text-nowrap">Since last week</span>
                </p>
              </div>
            </div>
          </div>      

          <div class="col-xl-2 col-lg-6">
            <div class="card card-stats mb-4 mb-xl-0">
              <div class="card-body">
                <div class="row">
                  <div class="col">
                    <h5 class="card-title text-uppercase text-muted mb-0">My Item</h5>
                    <span id="span_my_cnt" class="h2 font-weight-bold mb-0" style="font-size: 1.5rem;">0</span>
                  </div>
                  <div class="col-auto">
                    <div class="icon icon-shape bg-green text-white rounded-circle shadow">
                      <i class="fas fa-user"></i>
                    </div>
                  </div>
                </div>
                <p class="mt-1 mb-0 text-muted text-sm">
                  <span id="span_week_my" class="mr-2"><i class="fas fa-minus"></i>  0</span>
                  <span class="text-nowrap">Since last week</span>
                </p>
              </div>
            </div>
          </div>            

          <div class="col-xl-2 col-lg-6">
            <div class="card card-stats mb-4 mb-xl-0">
              <div class="card-body">
                <div class="row">
                  <div class="col">
                    <h5 class="card-title text-uppercase text-muted mb-0">Setting Count</h5>
                    <span id="span_setting_cnt" class="h2 font-weight-bold mb-0" style="font-size: 1.5rem;">0</span>
                  </div>
                  <div class="col-auto">
                    <div class="icon icon-shape bg-yellow text-white rounded-circle shadow">
                      <i class="fas fa-id-badge"></i>
                    </div>
                  </div>
                </div>
                <p class="mt-1 mb-0 text-muted text-sm">
                  <span class="text-danger mr-2"></span>
                  <span class="text-nowrap"></span>
                </p>
              </div>
            </div>
          </div>

        </div>
      </div>
    </div>
  </div>
  <div class="container-fluid mt--7">
    <div class="row">
      <!-- Total Pattern List -->
      <div class="col-xl-7 mb-6 mb-xl-0">
        <div class="card bg-gradient-default shadow">
          <div class="card-header bg-transparent">
           <div class="row align-items-center">
            <div class="col-4">
              <h3 class="mb-0 text-white">Pattern List</h3>
            </div>
            <div class="col-8 text-right">
              <button type="button" id="btn_all_pattern" class="btn btn-sm btn-info">All Patterns</button>
              <button type="button" id="btn_my_pattern" class="btn btn-sm btn-primary">My Patterns</button>
            </div>
          </div>
        </div>
        <!-- Search -->
        <div class="form-group mb-0" style="margin-left: 25px; margin-right: 25px;">
          <div class="input-group input-group-alternative">
            <div class="input-group-prepend">
              <span class="input-group-text"><i class="fas fa-search"></i></span>
            </div>
            <input id="search_keyword" class="form-control" placeholder="Search keyword" type="text">
          </div>
        </div>

        <div class="card-body">

         <div class="table-responsive">
          <!-- Projects table -->
          <table id="tb_items" class="table align-items-center table-dark table-flush">
            <thead class="thead-dark">
              <tr>
                <th scope="col">Hospital</th>
                <th scope="col">Pattern</th>
                <th scope="col">Explanation</th>
                <th scope="col">Motion Time</th>
                <th scope="col">Update Date</th>
                <th scope="col">Detail</th>
                <th scope="col">Add</th>
              </tr>
            </thead>
            <tbody id="tbd_items">             
            </tbody>
          </table>
          <div id="nofity_item_cnt" style="color: #b5b5b5; text-align: center; padding: 0.5em;  font-size: 13px;">
            등록된 운동 패턴 정보가 없습니다.
          </div>
        </div>
      </div>
    </div>
  </div>

  <!-- My Pattern List -->
  <div class="col-xl-5 mb-6 mb-xl-0">
    <div class="card card-profile shadow">
      <div class="card-header bg-white border-0">
       <div class="row align-items-center">
        <div class="col-4">
          <h3 class="mb-0">My Pattern</h3>
        </div>
        <div class="col-8 text-right">
          <button type="button" id="btn_my_setup" class="btn btn-sm btn-default">Setup</button>
        </div>
      </div>
    </div>


    <div class="table-responsive">
      <!-- Projects table -->
      <table id="tb_patterns" class="table align-items-center table-flush">
        <thead class="thead-light">
          <tr>
            <th scope="col">Hospital</th>
            <th scope="col">Pattern</th>
            <th scope="col">Explanation</th>
            <th scope="col">Detail</th>
            <th scope="col">Remove</th>
          </tr>
        </thead>
        <tbody id="tbd_my_pattern">       
        </tbody>
      </table>
      <div id="nofity_myPattern_cnt" style="color: #868686; text-align: center; padding: 0.7em;  font-size: 13px;">
        설정된 운동 패턴 항목이 없습니다.
      </div>
    </div>
  </div>
</div>
</div>

<!-- Footer -->
<footer class="footer">
  <div class="row align-items-center justify-content-xl-between">
    <div class="col-xl-6">
      <div class="copyright text-center text-xl-left text-muted">
        &copy; 2020 <a href="https://www.creative-tim.com" class="font-weight-bold ml-1" target="_blank">알씨스쾌어</a>
      </div>
    </div>          
  </div>
</footer>
</div>

<div id="detail_popup" class="popup-box">
  <div class="pl-lg-4">
    <div class="form-group">
      <div class="table-responsive table_pattern_items">
        <table id="tb_detail_pattern" class="table align-items-center table-flush">
          <thead class="thead-light">
            <tr>
              <th scope="col">(L)Dir</th>
              <th scope="col">(L)Angle</th>
              <th scope="col">(L)Speed</th>
              <th scope="col">(L)Hold</th>
              <th scope="col">(L)Return</th>
              <th scope="col">(R)Dir</th>
              <th scope="col">(R)Angle</th>
              <th scope="col">(R)Speed</th>
              <th scope="col">(R)Hold</th>
              <th scope="col">(R)Return</th>
            </tr>
          </thead>
          <tbody id="tbd_detail_pattern">                 
          </tbody>
        </table>        
      </div>
    </div>
    <div class="text-right">
      <button type="button" id="btn_popup_close" class="btn btn-sm btn-info">Close</button>
    </div>
  </div>  
</div>

</div>
<!--   Core   -->
<script src="/js/plugins/jquery/dist/jquery.min.js"></script>
<script src="/js/plugins/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
<!--   Optional JS   -->
<script src="/js/plugins/chart.js/dist/Chart.min.js"></script>
<script src="/js/plugins/chart.js/dist/Chart.extension.js"></script>
<!--   Argon JS   -->
<script src="/js/argon-dashboard.min.js?v=1.1.2"></script>
<script src="https://cdn.trackjs.com/agent/v3/latest/t.js"></script>
<script src="/js/my-dashboard.js"></script>
<script>
  window.TrackJS &&
  TrackJS.install({
    token: "ee6fab19c5a04ac1a32a645abde4613a",
    application: "argon-dashboard-free"
  });

  setAccessInfos(<%- JSON.stringify(session) %>);
</script>
</body>

</html>