<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta content="width=device-width, initial-scale=1.0" name="viewport">

  <title>Contact - Moderna Bootstrap Template</title>

  <link href="/css/style.css" rel="stylesheet">
</head>

<body>

  <div class="content">
    <!-- Access Manager -->
    <div>
      <h5 class="title">Access Permission</h5>
      <p>Manager ID : </p>
      <input class="inputTxt tab_left" type="text" name="" placeholder="manager code">
      <p>Password : </p>
      <input class="inputTxt tab_left" type="password" name="" placeholder="password">
      <input class="btn" type="button" name="" value="Access">
    </div>

    <!-- line -->
    <div class="division_line vertical_margin12"></div>

    <!-- Setup Pattern -->
    <div>
      <h5 class="title">Moving Pattern Setup</h5>
      <!-- illness -->
      <div>
        <p class="tab_small_left">Illness Selector : </p>
        <select>
          <option>인대손상</option>
          <option>발목골절</option>
          <option>족저근막염</option>
        </select>
        <input class="inputTxt tab_left" type="text" name="" placeholder="illness name">
        <input class="btn" type="button" name="" value="Add">
      </div>  

      <!-- pattern -->
      <div>
        <p class="tab_small_left">Pattern Selector : </p>
        <select>
          <option>배굴중점운동</option>
          <option>복합운동</option>
        </select>
        <input class="inputTxt tab_left" type="text" name="" placeholder="pattern name">
        <input class="btn" type="button" name="" value="Add">
      </div>   

      <!-- line -->
      <div class="division_line top_margin12"></div>

      <!-- pattern setup -->
      <div>       
        <div class="table_col_botline">
          <div class="half_width" style="border-right: 1px solid lightgrey;"><p class="center_text">Left</p></div>
          <div class="half_width"><p class="center_text">Right</p></div>
          <div class="clear"></div>
        </div>

        <table>
          <thead>
            <tr>
              <!-- left -->
              <th>상/하</th>
              <th>각도</th>
              <th>좌/우</th>
              <th>각도</th>
              <th>복귀</th>
              <th>이동</th>
              <th>유지</th>
              <!-- right -->
              <th>상/하</th>
              <th>각도</th>
              <th>좌/우</th>
              <th>각도</th>
              <th>복귀</th>
              <th>이동</th>
              <th>유지</th>
            </tr>
          </thead>
          <tbody>
            <!-- pattern rows -->
            <tr>
              <!-- left -->
              <td>
                <input type="checkbox" name="" value="" >
                <input type="checkbox" name="" value="" >
              </td>
              <td>
                <input class="input_col_txt" type="text" name="" placeholder="angle">
              </td>
              <td>
                <input type="checkbox" name="" value="" >
                <input type="checkbox" name="" value="" >
              </td>
              <td>
                <input class="input_col_txt" type="text" name="" placeholder="angle">
              </td>
              <td>
                <input type="checkbox" name="" value="" >
              </td>
              <td>
                <input class="input_col_txt" type="text" name="" placeholder="sec">
              </td>
              <td>
                <input class="input_col_txt" type="text" name="" placeholder="sec">
              </td>
              <!-- right -->
              <td>
                <input type="checkbox" name="" value="" >
                <input type="checkbox" name="" value="" >
              </td>
              <td>
                <input class="input_col_txt" type="text" name="" placeholder="angle">
              </td>
              <td>
                <input type="checkbox" name="" value="" >
                <input type="checkbox" name="" value="" >
              </td>
              <td>
                <input class="input_col_txt" type="text" name="" placeholder="angle">
              </td>
              <td>
                <input type="checkbox" name="" value="" >
              </td>
              <td>
                <input class="input_col_txt" type="text" name="" placeholder="sec">
              </td>
              <td>
                <input class="input_col_txt" type="text" name="" placeholder="sec">
              </td>
            </tr>
          </tbody>
        </table>
        <input class="btn parent_right" type="button" name="" value="Add Row">
        <div class="clear"></div>
      </div>

      <div>
         <p class="center_text table_col_botline">Pattern List</p>
         <table class="pattern_list">
          <thead>
            <tr>
              <!-- left -->
              <th>상/하</th>
              <th>각도</th>
              <th>좌/우</th>
              <th>각도</th>
              <th>복귀</th>
              <th>이동</th>
              <th>유지</th>
              <!-- right -->
              <th>상/하</th>
              <th>각도</th>
              <th>좌/우</th>
              <th>각도</th>
              <th>복귀</th>
              <th>이동</th>
              <th>유지</th>
            </tr>
          </thead>
          <tbody>
            <!-- pattern rows -->
            <tr class="pattern_row">
              <td>UP</td>
              <td>5</td>
              <td>Left</td>
              <td>0</td>
              <td>T</td>
              <td>5</td>
              <td>3</td>
              <td>UP</td>
              <td>5</td>
              <td>Left</td>
              <td>0</td>
              <td>T</td>
              <td>5</td>
              <td>3</td>
            </tr>
            <tr class="pattern_row">
              <td>UP</td>
              <td>10</td>
              <td>Left</td>
              <td>0</td>
              <td>T</td>
              <td>5</td>
              <td>3</td>
              <td>UP</td>
              <td>10</td>
              <td>Left</td>
              <td>0</td>
              <td>T</td>
              <td>5</td>
              <td>3</td>
            </tr>
            <tr class="pattern_row">
              <td>UP</td>
              <td>15</td>
              <td>Left</td>
              <td>0</td>
              <td>T</td>
              <td>5</td>
              <td>3</td>
              <td>UP</td>
              <td>15</td>
              <td>Left</td>
              <td>0</td>
              <td>T</td>
              <td>5</td>
              <td>3</td>
            </tr>
            <tr class="pattern_row">
              <td>DOWN</td>
              <td>5</td>
              <td>Left</td>
              <td>0</td>
              <td>T</td>
              <td>5</td>
              <td>3</td>
              <td>DOWN</td>
              <td>5</td>
              <td>Left</td>
              <td>0</td>
              <td>T</td>
              <td>5</td>
              <td>3</td>
            </tr>
            <tr class="pattern_row">
              <td>DOWN</td>
              <td>10</td>
              <td>Left</td>
              <td>0</td>
              <td>T</td>
              <td>5</td>
              <td>3</td>
              <td>DOWN</td>
              <td>10</td>
              <td>Left</td>
              <td>0</td>
              <td>T</td>
              <td>5</td>
              <td>3</td>
            </tr>
            <tr class="pattern_row">
              <td>DOWN</td>
              <td>10</td>
              <td>Left</td>
              <td>0</td>
              <td>T</td>
              <td>5</td>
              <td>3</td>
              <td>DOWN</td>
              <td>10</td>
              <td>Left</td>
              <td>0</td>
              <td>T</td>
              <td>5</td>
              <td>3</td>
            </tr>
            <tr class="pattern_row">
              <td>UP</td>
              <td>10</td>
              <td>Left</td>
              <td>0</td>
              <td>F</td>
              <td>5</td>
              <td>3</td>
              <td>UP</td>
              <td>10</td>
              <td>Left</td>
              <td>0</td>
              <td>F</td>
              <td>5</td>
              <td>3</td>
            </tr>
          </tbody>
        </table>
      </div>

      <div>
        <input class="btn" type="button" name="" value="Reflash">
        <input class="btn parent_right" type="button" name="" value="Setup">
        <div class="clear"></div>
      </div>

    </div>
  </div>

</body>