<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta content="width=device-width, initial-scale=1.0" name="viewport">

  <title>Contact - Moderna Bootstrap Template</title>

  <link href="/css/style.css" rel="stylesheet">
</head>

<body>

  <div class="content">
    <!-- Access Manager -->
    <div>
      <h5>Manager ID : </h5>
      <input type="text" name="">
      <h5>Password : </h5>
      <input type="text" name="">
      <input type="button" name="" value="Access">
    </div>

    <!-- line -->
    <hr></hr>

    <!-- Setup Pattern -->
    <div>
      <!-- illness -->
      <div>
        <select>
          <option>option1</option>
          <option>option2</option>
        </select>
        <input type="text" name="">
        <input type="button" name="" value="Add">
      </div>  

      <!-- pattern -->
      <div >
        <select>
          <option>pattern1</option>
          <option>pattern2</option>
        </select>
        <input type="text" name="">
        <input type="button" name="" value="Add">
      </div>   

      <!-- line -->
      <hr></hr>
      <!-- pattern list -->
      <div>
        <table>
        <!-- <colgroup>
          <col/>
        </colgroup> -->
        <thead>
          <tr>
            <!-- left -->
            <th>상/하</th>
            <th>기울기</th>
            <th>좌/우</th>
            <th>기울기</th>
            <th>복귀</th>
            <th>이동</th>
            <th>유지</th>
            <!-- right -->
            <th>상/하</th>
            <th>기울기</th>
            <th>좌/우</th>
            <th>기울기</th>
            <th>복귀</th>
            <th>이동</th>
            <th>유지</th>
          </tr>
        </thead>
        <tbody>
          <!-- pattern rows -->
        </tbody>
      </table>
    </div>

    <div>
      <input type="button" name="" value="Reflash">
      <input type="button" name="" value="Setup">
    </div>

  </div>
</div>

</body>